[submodule "dotvim"]
	path = dotvim
	url = https://github.com/qqshfox/dotvim.git
[submodule "dotzsh"]
	path = dotzsh
	url = https://github.com/qqshfox/dotzsh.git
[submodule "dottmux"]
	path = dottmux
	url = https://github.com/qqshfox/dottmux.git
[submodule "dotgit"]
	path = dotgit
	url = https://github.com/qqshfox/dotgit.git
[submodule "dotgdb"]
	path = dotgdb
	url = https://github.com/qqshfox/dotgdb.git
